<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>
<body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ site.title }}</h1>

        <div style="display: flex; align-items: center; justify-content: center;">
            <img width="250" src="https://user-images.githubusercontent.com/43440732/173182178-d91783cf-6b85-49e9-b6e6-ab938c32ed1c.png"/>
        </div>

        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

        {% if site.show_downloads %}
        <a href="{{ site.github.download_url }}" class="btn">Download V{{ site.mod.version }} DLL</a>
        {% endif %}

        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}

        <a href="#how-to-install" class="btn">Installation instructions</a>
    </header>

    <div class="features-container">
        <div class="features">
            <h3>Features</h3>
            {% for feature in site.features %}
                <div class="feature" style='background-image: url("{{ feature.image_url }}");'>
                    <div class="title">{{ feature.title }}</div>
                    <div class="description">{{ feature.description }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <main id="content" class="main-content" role="main">
        <div class="warning">
            <h3>Warning</h3>
            <p>
                The reset button does not always reset to the real original values.<br/>
                These values might be saved to your save file, which means it could make changes that would be hard to revert.<br/><br/>
                
                This mod could potentialy ruin your save file. It could introduce bugs and side effects I'm not aware of.<br/>
                Please make a backup of your save files.
            </p>
        </div>

        {{ content }}
    </main>

    <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
    </footer>
</body>
</html>